.hero{
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}
.hero-content{
    width: 65%;
    margin: 0 0 2rem 4rem;
}
.hero-details{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.hero-genres{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 0;
}
.tape{
    width: fit-content;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #5FBDFF;
}
.writeup{
    margin: 0 0 2rem 0;
    line-height: 1.5;
    color: #5a6870;
}
.watch-option{
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}
.watch-option p{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
    border: 2px solid #5a6870;
    color: #5a6870;
    width: 45%;
    border-radius: 30px;   
    transition: 0.3s ease-in-out; 
}
.watch-option p:hover{
    color: #5FBDFF;
    border: 2px solid #5FBDFF;
}